tr:hover {
  background-color: rgb(224, 250, 198);
}

body {
  background-color: rgba(188, 246, 146, 0.7);
}

table {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
}
#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#container-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 50%;
  margin-right: 50px;
  margin-left: 50px;
  direction: rtl;
  text-align: center;
}
#container-2 {
  display: flex;
  justify-content: center;
  margin: 5px;
  direction: rtl;
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgba(216, 255, 192, 0.5); /* Green */
  color: black;
  border: 3px solid #70F161;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #70F161;
  color: white;
}

h2 {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
