@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Tinos:wght@400;700&display=swap');
tr:hover {
  background-color: rgb(224, 250, 198);
}

body {
  background-color: rgba(188, 246, 146, 0.7);
}

table {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  font-family: 'Tinos', serif;
}

tr, td {
  padding: 10px;
  border-bottom: 1px solid #d9fad4;
}
.border-header {
  padding: 20px;
  border-right: 1px outset rgba(197, 243, 177, 0.6);
}
/*
.border-data {
  border-right: 1px outset rgba(197, 243, 177, 0.6);
}*/


#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#container-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 85%;
  margin-right: 50px;
  margin-left: 50px;
  direction: rtl;
  text-align: center;
}
#container-2 {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px;
  direction: rtl;
  text-align: center;
}
button {
  width: 120px;
  height: auto;
  text-align: center;
  background-color: rgba(216, 255, 192, 0.5); /* Green */
  color: black;
  border: 2px outset #70F161;
  padding: 8px 16px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Tinos', serif;
  font-weight: bold;

}
button:hover {
  background-color: #70F161;
  color: white;
}
input {
  padding: 3px;
  width: 120px;
  height: 30px;
  text-align: center;
}

h2 {
  font-family: 'Bona Nova', serif;
  color: #0e7500;
}
.block {
  font-family: 'Bona Nova', serif;
  font-size: 1.8em;
  color: #45b235;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
