tr:hover {
  background-color: rgb(224, 250, 198);
}

body {
  background-color: rgba(188, 246, 146, 0.7);
}

table {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
}
#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#container-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 50%;
  margin-right: 50px;
  margin-left: 50px;
  direction: rtl;
  text-align: center;
}
#container-2 {
  display: flex;
  justify-content: center;
  margin: 10px;
  direction: rtl;
  text-align: center;
}
button {
  width: 80px;
  height: 40px;
  text-align: center;
}

h2 {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
